.title {
  font-size: 1.3rem;
}

.region {
  font-size: 1rem;
}

.content {
  font-size: 1rem;
}

.delete {
  font-size: 1rem;
}

.edit {
  font-size: 1rem;
  text-decoration: none;
  margin: 1rem;
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
}

.back {
  font-size: 1rem;
  text-decoration: none;
  margin: 1rem;
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
}
