.profile {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_image {
  border-radius: 50%;
  border: 5px solid gray;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.info {
  display: flex;
}

.button_container {
  text-align: end;
}

.button_container button {
  margin: 0 0.5rem;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: aliceblue;
}

.edit:hover {
  background-color: aquamarine;
}
.delete:hover {
  background-color: rgb(251, 69, 69);
}
